/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=News+Cycle:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=News+Cycle:wght@400;700&display=swap');

/*asterisk wildcard selector to override browser default styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*general styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*generic project styles*/
  color: whitesmoke;
  font-family: 'Montserrat',
    sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: whitesmoke;
}

/*header*/
header {
  background-color: #353535;
  padding: 0 1rem;
  /* position: fixed; */
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 3px black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
}

menu>li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid whitesmoke;
}

/*navbar styles with dropdown toggle*/
nav {
  position: absolute;
  left: 0;
  background-color: #353535;
  width: 100%;
  /* margin: 0; */
  padding: 0 1rem;
  box-shadow: 0 2px 2px black;
  display: none;
  top: 5%;
}

/*nav toggle*/
#nav-toggle:checked~nav {
  display: block;
}


#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  color: whitesmoke;
}

main {

  /*make main element take up surplus space to push footer down*/
  flex: 1 0 auto;
  margin: top 0;
}

/*hero section*/
.hero {
  height: 100vh;
  width: 100%;
  background: url("../images/vintagevibesbackground.jpg") #353535 no-repeat center center/cover;
  position: relative;

}
/*main content*/
#landingpage {
  font-family: 'montserrat', sans-serif;
  background: rgba(40, 75, 99, 0.9);
  width: 100%;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px;
  border-radius: 0px 0px 90px 90px;
  box-shadow: 0 2px 3px #353535;
}

.circle h2 {

  font-family: 'montserrat', sans-serif;
  width: 250px;
  height: 250px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: rgba(60, 110, 113, .7);
  padding-top: 50px;
  margin-top: 50px;
  position: absolute;
  top: calc(66.6% - 165px);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 30px 30px inset rgba(40, 75, 99, 0.9);
}

#about1 {
  font-family: 'montserrat', sans-serif;
  background: rgba(40, 75, 99, 0.9);
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  border-radius: 0px 0px 90px 90px;
  box-shadow: 2px 2px 3px #353535;
}

#about2 {
  font-family: 'montserrat', sans-serif;
  width: 100%;
  height: 170px;
  background-color: rgba(158, 143, 178, .8);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-align:center;
  box-shadow: 5px 30px 50px inset rgba(40, 75, 99, 0.9);
}

#about3 {
  font-family: 'montserrat', sans-serif;
  width: 100%;
  height: 170px;
  background-color: rgba(60, 110, 113, .8);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin-top: 20px;
  box-shadow: 5px 30px 50px inset rgba(158, 143, 178, .8);
}
/*contact form*/
form{

  background-color: rgba(60, 110, 113, .8);
  width: 300px;
  margin-top: 200px;
  border-radius: 0px 20px 20px 0px;
}

input[type="text"],
input[type="email"] {
    border: none;
    border-bottom: 2px solid #ca6702; 
    outline: none; 
    background-color:transparent;
    }

::placeholder {
  color: #353535; 
}

label {
    display: block;
    margin-bottom: 5px;
}
#subject{
border: none;
border-bottom: 2px solid #ca6702; 
outline: none; 
background-color:transparent;
}


/*footer*/
#social-networks {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  background-color: rgba(40, 75, 99, 0.99);
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #ca6702;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    margin-top: 0;
    font-size: 120%;
  }
  form {
    margin-top:15px;
    width:520px;
    font-size: 120%;
  }

  input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-bottom: 2px solid #ca6702;
}
textarea {border:none;}

}

@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #353535;
  }
}